Lab1/.idea/*
Lab1/venv/*
Lab2/.idea/*
Lab2/venv/*
Lab3/.idea/*
Lab3/venv/*
Lab4/.idea/*
Lab4/venv/*
Lab4/__pycache__/*
Lab5/.idea/*
Lab5/venv/*
Lab5/__pycache__/*
Lab6/.idea/*
Lab6/venv/*
Lab6/__pycache__/*